<app-header></app-header>
<div class="content">
  <ng-container *ngIf="lstProduit!==undefined" >
    <div class="divLeftScreen">
      <div class="divDateLivraison">
        <mat-form-field appearance="outline">
          <mat-label>Date de livraison</mat-label>
          <input matInput [matDatepicker]="picker" (dateChange)="onDateChange('change', $event)"
          [value]="dateLivraison">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
        <app-navbar-commande [commerce]="commerce | async" *ngIf="commerce !== undefined" ></app-navbar-commande>
      </div>
      <div class="divCategorie"  *ngFor="let categorie of lstCategorie">
        <p>{{categorie.libelle}}</p>
        <div class="divProduit" >
          <app-produit-commande-cards *ngFor="let produit of categorie.produits" [produit] = "produit"></app-produit-commande-cards>
        </div>
      </div>
   </div>
    <div class="divPanier">
      <app-panier-commande></app-panier-commande>
    </div>
    <app-panier-recap-mobil></app-panier-recap-mobil>
  </ng-container>
</div>



