.content {
  display:inline-flex;
  flex-direction: initial;
  position: relative;
  background-color: lightgray;
}

.divProduit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  flex-grow: 1;

}

.divProduit app-produit-commande-cards {
  width: 100%;
  max-width: 500px;
}



.divPanier {
  height: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

// Retrait de la parti panier pour les mobil
@media (max-width : 770px) {
  .divPanier {visibility: hidden;}
  .divPanier {width: 0px;}
}

.divPanier app-panier-commande{
  min-width: 350px;
}
