.content {
  display:inline-flex;
  flex-direction: initial;
  position: relative;
  background-color: lightgray;
  width: 100%;
}

.divLeftScreen {
  width: 75%;
}

.divCategorie {
  display: flex;
  flex-direction: column;
}

.divCategorie p {
  font-size: x-large;
  margin-left: 30px;
  margin-top: 30px;
}

.divProduit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  flex-grow: 1;
}

.divProduit app-produit-commande-cards {
  width: 100%;
  max-width: 400px;
  margin-left: 30px;
}



.divPanier {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 50px;
}

.divBtnValiderPanierMobil {
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 100%;
  visibility: hidden;
}

.divBtnValiderPanierMobil > button:first-child {
  width: 100%;
  min-height: 75px;
}

.divBtnPanierMobil{
  display: flex;
  flex-direction: row;
}

.divLeftButton{
  display: flex;
  justify-content: center;
  width: 20%;
}

.divLeftButton button {
  font-size: large;
}

.divMidButton{
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.divRightButton{
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

// Retrait de la parti panier pour les mobil
@media (max-width : 770px) {
  .divPanier {visibility: hidden;
    padding-right: 0px;
    width: 0px;}
  .divLeftScreen {
    width: 100%;
  }
  .divProduit {
    max-width: 100%;
    margin-left: 0px;
    justify-content: flex-start;
  }
  .divProduit app-produit-commande-cards {
    max-width: 100%;
    margin-left: 0px;
  }
  .divBtnValiderPanierMobil {
    visibility: visible;
  }
  .content {
    margin-bottom: 100px;
  }



}

.divPanier app-panier-commande{
  min-width: 350px;
}
