.divBtnValiderPanierMobil {
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 100%;
  visibility: hidden;
  z-index: 1000;
}

.divBtnPanierMobil{
  display: flex;
  flex-direction: row;
}

.divLeftButton{
  display: flex;
  justify-content: center;
  width: 20%;
}

.divLeftButton button {
  font-size: large;
}

.divMidButton{
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.divRightButton{
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.divBtnValiderPanierMobil > button:first-child {
  width: 100%;
  min-height: 75px;
}

@media (max-width : 770px) {
  .divBtnValiderPanierMobil {
    visibility: visible;
  }
}
