<mat-card class="mainCard">
    <button mat-raised-button color="primary" class="btnValidPanier">Valider mon panier</button>
    <div class="divProduits">
      <app-produit-panier *ngFor="let produit of lstProduitPanier" [produit] = "produit"></app-produit-panier>
    </div>
   <div class="divPanierInfo">
     <div class="divinfo">
       <div class="divLabel">
        Sous total
       </div>
       <div class="divValeur">
        {{(sousTotalProduit | number:'.2') + " €"}}
       </div>
     </div>
     <div class="divinfo">
      <div class="divLabel">
        Commission
      </div>
      <div class="divValeur">
       {{(commission | number:'.2') + " €"}}
      </div>
    </div>
    <div class="divinfo">
      <div class="divLabel">
        Total
      </div>
      <div class="divValeur" style="font-weight: 800;">
       {{(total | number:'.2') + " €"}}
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
</mat-card>
