.content {
  display: flex;
  flex-direction: initial;
  position: relative;
  width: 100%;
}

.divLeftScreen{
  width: 100%;
}

.divCategorie {
  display: flex;
  flex-direction: column;
}

.divDateLivraison{
  display: flex;
  flex-direction: row;
}

.divCategorie p {
  font-size: x-large;
  margin-left: 30px;
  margin-top: 30px;
}

.divProduit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  flex-grow: 1;
}

.divProduit app-produit-commande-cards {
  width: 100%;
  max-width: 400px;
  margin-left: 30px;
}


// Retrait de la parti panier pour les mobil
@media (max-width : 770px) {
  .divPanier {visibility: hidden;
    padding-right: 0px;
    width: 0px;}
  .divLeftScreen {
    width: 100%;
  }
  .divProduit {
    max-width: 100%;
    margin-left: 0px;
    justify-content: flex-start;
  }
  .divProduit app-produit-commande-cards {
    max-width: 100%;
    margin-left: 0px;
  }
  .divBtnValiderPanierMobil {
    visibility: visible;
  }
  .content {
    margin-bottom: 100px;
  }



}

.divPanier app-panier-commande{
  min-width: 350px;
}
