<div class="mainDiv">
  <mat-card>
    <div class="cardContent">
        <div class="tileImg">
          <img src="/assets/img/Baguette_Tradition.jpg" alt="Photo of a Shiba Inu">
        </div>
        <div class="divRight">
          <div class="tileTitre">
            <div class="divGridTile">
              {{produitReference.nom}}
            </div>
          </div>
          <div class="tileLivraison">
            <div *ngFor="let produit of arrayProduit" >
              <app-produit-qte-date-livraison [produit]="produit" [arrayProduit]="arrayProduit"></app-produit-qte-date-livraison>
            </div>
            <div>
              <button mat-button (click)="onAddItemLivraison()">Livraison supplémentaire</button>
            </div>
          </div>
        </div>
      </div>
  </mat-card>
</div>
