<app-header></app-header>
<div class="content">
  <ng-container *ngIf="lstCommerces!==undefined" >
    <div class="divLeftScreen">
      <div class="divDateLivraison">
        <mat-form-field appearance="outline">
          <mat-label>Date de livraison</mat-label>
          <input matInput [matDatepicker]="picker" (dateChange)="onDateChange('change', $event)"
          [value]="dateLivraison">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="divCommerce"  *ngFor="let categorie of lstCommerces">
        <app-commerce-commande-card></app-commerce-commande-card>
      </div>
   </div>
    <div class="divPanier">
      <app-panier-commande></app-panier-commande>
    </div>
    <div class="divBtnValiderPanierMobil">
      <button mat-raised-button color="primary" (click)='onClickValidPanier()'>
        <div class="divBtnPanierMobil">
          <div class="divLeftButton">
            <button mat-fab color="accent">
              {{nbrProduitCommande}}
            </button>
          </div>
          <div class="divMidButton">
            Valider mon panier
          </div>
          <div class="divRightButton">
            {{(sousTotal | number:'.2') + " €"}}
          </div>
        </div>
      </button>
    </div>
  </ng-container>
</div>



